$roboto-font: "Roboto";
/*
**************************** COLORS ****************************
*/
$primary-color: #000000;
$secondary-color: #333333;
$tertiary-color: #ffffff;
$fourth-degree-color: #00000080;
$fifth-grade-color: #777777;

$hero-bg: #ebebeb;
$brands-bg: #d3d3d3;
$reverse-bg: #e5e5e5;
$footer-text-bg: #11111111;
$text-bg: #3b79c3;
/*
**************************** FONTS ****************************
*/

$main-font-weight: 400;

$main-h1-size-lg: 3.9rem;
$main-h1-size-md: 3.2rem;
$main-h1-size-sm: 3.1rem;

$main-h4-size-lg: 1.8rem;

$main-p-size-xxl: 1.7rem;
$main-p-size-xl: 1.5rem;
$main-p-size-lg: 1.4rem;
$main-p-size-md: 1.3rem;
$main-p-size-sm: 1.2rem;

$main-a-size-lg: 1.3rem;
